@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radial-color: rgba(255, 255, 255, 0.06);
  --radial-home-color-primary-1: #000d2fe6;
  --radial-home-color-primary-2: #00081d4d;
  --radial-home-color-secondary-1: rgba(0, 8, 29, 1);
  --radial-home-color-secondary-2: rgba(0, 8, 29, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --radial-color: rgba(56, 96, 255, 0.12);
    --radial-home-color-primary-1: #00081de6;
    --radial-home-color-primary-2: #00081d4d;
    --radial-home-color-secondary-1: rgba(0, 8, 29, 1);
    --radial-home-color-secondary-2: rgba(0, 8, 29, 0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --radial-color: rgba(112, 139, 247, 0.06);
    --radial-home-color-primary-1: #c0c0c0e6;
    --radial-home-color-primary-2: #bbbbbb4d;
    --radial-home-color-secondary-1: rgb(216, 216, 216);
    --radial-home-color-secondary-2: rgba(152, 151, 151, 0);
  }
}

#card {
  position: relative;
  background: rgb(255, 255, 255, 0.02);
}
#card::before {
  border-radius: inherit;

  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    var(--radial-color),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 500ms;
}
#card:hover::before {
  opacity: 1;
}

#home {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      103.24deg,
      var(--radial-home-color-primary-1) 30.83%,
      var(--radial-home-color-primary-2) 96.1%
    ),
    url(https://images.pexels.com/photos/2414036/pexels-photo-2414036.jpeg?auto=compress&cs=tinysrgb&w=600);
}
#home::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: inherit;
  height: inherit;
  background-image: linear-gradient(
    to bottom,
    var(--radial-home-color-secondary-1) 0%,
    var(--radial-home-color-secondary-2) 100%
  );
}
